<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset = "utf-8">
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
        <title>Welcome</title>
        

     <body>
        <header>
            {% block content %}
            <div>
                <h3 class="title">Signup</h3>
                <div class="box">
                    <form method="POST">
                        <div class="field">
                            <div class="control">
                                <input type="email" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input type="password" name="password" id="password" placeholder="Your Password" required>
                            </div>
                        </div>
                        <div><p id="msg"></p></div>
                        
                        <div class="field">
                            <div class="control">
                                <input type="password" name="password2" id="password2" onkeyup="checkPasswords()" placeholder="Reenter Your Password" required>
                            </div>
                            <script>
                                function checkPasswords() {
                                    var p1 = document.getElementById("password").value
                                    var p2 = document.getElementById("password2").value
                                    
                                    if(p1 != p2) {
                                        document.getElementById("msg").innerHTML = "Passwords do not match"
                                        document.getElementById("signup").disabled = true;
                                    }
                                    else {
                                        document.getElementById("msg").innerHTML = ""
                                        document.getElementById("signup").disabled = false;
                                    }
                                }
                            </script>
                        </div>
                        <button type="submit" id= "signup" disabled=True >Signup</button>
                    </form>
                </div>
            </div>
            {% endblock %}
        </header>
    </body>
</html>